;; shadow-cljs configuration
{:source-paths
 ["src/main"
  "src/test"]

 :dependencies
 [[cider/cider-nrepl "0.28.4"]
  [reagent "1.1.1"]
  [org.clojars.frozenlock/reagent-modals "0.2.8"]
  [cljs-http "0.1.46"]]

 :dev-http {8080 "public"}

 :builds
 {:app {:target     :browser
        :output-dir "public/js"
        :modules    {:main {:init-fn life.app/init}}}
  :test {:target    :karma
         :output-to "target/test.js"
         :ns-regexp "-test$"}}}
